{% extends 'base.html' %}
{% block content %}
    <div class="center">
        <img src="{{song.image.url}}" width="500px">
        <h4> {{song.title}} </h4>
        <p>{{song.description}}</p>
        <div>
            <h5>song lyrics :</h5>
            {{song.lyrics}}
        </div>
        {% if song.file %}
        <audio controls>
            <source src="{{song.file.url}}" type="audio/mp3">
        </audio>
        {% endif %}
    </div>
{% endblock %}
{% block side %}
    {% if user.is_authenticated %}
    <div>
        <b class="text-light">vote song:</b>
        <a href="{% url 'song:vote' song.id %}" style="text-decoration-line: none;" 
        class="btn btn-xs btn-outline-info">
            Like ({{song.get_vote_count}}) 
         </a>
    </div>
    {% endif %}
{% endblock side %}

