<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css bootstrap -->
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <title>MusicOnline</title>
</head>
<body>
    {% include 'partials/navbar.html' %}
    <div class="container">
        <br><br>
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>