<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css bootstrap -->
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <title>MusicOnline</title>
</head>
<body>
    {% include 'partials/navbar.html' %}
    <div class="container">
        <div class="row">
            <!-- main side of website -->
            <div class="col-md-9">
                <!--messages-->
                {% include 'partials/messages.html' %}
                <!--End-->
                {% block content %}
                {% endblock content %}
            </div>
            <!-- End main side of website -->
            <!-- right side of website -->
            <div class="col-md-3">
                <br><br>
                <div class="side">
                    {% block side %}
    
                    {% endblock side %}
                </div>
            </div>
    </div>

    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>